# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.venv/

# PlatformIO / embedded build outputs
.pio/
*.elf
*.bin
*.hex

# Node / static artifacts
node_modules/

dist/
build/

# Logs
*.log
